
.nav_1{
  font-family:Comfortaa ;
  font-size: 18px;
  font-weight: 700px;
  line-height: 32.4px;
}
p{
  font-family:Nunito ;
  font-size: 24px;
  font-weight: 400px;
  line-height: 36px;
}
header.masthead {
  padding-top: 7.5rem;
  padding-bottom: 4rem;
  text-align: center;
  color: black;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  color: #fdc435;
  font-family: Playfair Display;

}
header.masthead .masthead-heading {
  
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: Nunito, 

}
h1{
   font-family: Playfair Display;
  font-size:68px;
  font-weight: 700px;
  line-height: 76.8px;
}
.section-heading {

  padding-top: 6rem;
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
p{
	 margin-top: 2rem;
	font-size: 1.25rem;
  font-weight: 200;
}
.img-1{
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 0;
	
}
.form{
 width: 700px;
}
.buttn_1{
  position:relative;
  text-align: center;
  left:250px;
  bottom:25px;

}

.lnk1{
  width:37px;
  height:37px;
  position:relative;
  left:215px;
  top:35px;
}
.lnk2{
  width:37px;
  height:37px;
  position:relative;
  left:245px;
  top:35px;
}
.lnk3{
  width:37px;
  height:37px;
  position:relative;
  left:275px;
  top:35px;
}


